.items{
    display: flex;
    margin: auto;
    justify-content: space-between;   
    flex-wrap: wrap;
    max-width: 1300px;
    row-gap: 30px ;
}

.items img {
    width:200px;
    height: 250px;
}

.Link img {
cursor: pointer;
    :hover {
        transition: 0.1s;
        transform: scale(1.2);
    }
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Verdana', sans-serif;

}
