.sidebar {
    
    // border: 1px solid white;
    width: 300px;
    height: auto;
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    h5 {
        margin-left: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 28px;
    }
    
}

.list {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-align: left;
    line-height: 3rem;
}

li:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    cursor: pointer;
    color: rgb(184, 183, 183)
    
}